<!DOCTYPE html>
<html lang="en">
<%- include("./partials/admin_head.ejs") %>
<body>
    <%- include("./partials/admin_nav.ejs") %>

    <!-- Admin Home Section -->
    <section id="adminHome" class="container admin-section">
        <h2>Welcome, <%= admin.firstName %></h2>
        <p>&emsp;&emsp;Manage discussion room reservations and user accounts.</p>
        <hr>
        <div class="admin-container">
            <div class="admin-buttons">
                <a id="viewReservationsBtn" class="btn btn-outline-success" href="/admin/admin_view_res">
                    View Reservations &nbsp; <i class="arrow right"></i>
                </a>
                <a id="manageAccsBtn" class="btn btn-outline-success" href="/admin/admin_manage_acc">
                    Manage User Accounts &nbsp; <i class="arrow right"></i>
                </a>
            </div>
            <div class="divider"></div>
            <!-- Global Reservations Section -->
            <div class="global-reservations">
                <h3>Current Reservations</h3>
                <% if (reservations.length > 0) { %>
                    <table class="table table-secondary table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Room</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% reservations.forEach(reservation => { %>
                                <% 
                                    const now = new Date();
                                    const [startHour, startMinute] = reservation.time.split('-')[0].trim().split(':').map(Number); 
                                    const reservationDateTime = new Date(reservation.date);
                                    reservationDateTime.setHours(startHour, startMinute);

                                    const isPast = reservationDateTime < now;
                                %>
                                <tr class="<%= isPast ? 'greyed-out' : '' %>">
                                    <td><%= reservation.room %></td>
                                    <td><%= reservation.date %></td>
                                    <td><%= reservation.time %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% } else { %>
                    <p>No active reservations at the moment.</p>
                <% } %>
            </div>

        </div>
    </section>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
