<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/user_head.ejs") %>
<body>
    <%- include("./partials/user_nav.ejs") %>

    <!-- User Home Section -->
    <section id="userHome" class="container user-section mt-4">
        <h2>Welcome, <%= user.firstName %></h2>
        <p>&emsp;&emsp;Reserve Rooms and Check/Edit User Profile</p>
        <hr>

        <div class="user-container">
            <div class="user-buttons">
                <a id="viewReservationsBtn" class="btn btn-outline-success" href="/user/user_view_res">
                    View Reservations &nbsp; <i class="arrow right"></i>
                </a>
                <a id="manageAccsBtn" class="btn btn-outline-success" href="/user/profile/<%= user._id %>">
                    Check User Profile &nbsp; <i class="arrow right"></i>
                </a>
            </div>
            <div class="divider"></div>

            <!-- Global Reservations Section -->
            <div class="global-reservations">
                <h3>Current Reservations</h3>
                <% if (reservations.length > 0) { %>
                    <table class="table table-secondary table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Room</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% reservations.forEach(reservation => { %>
                                <% 
                                    const now = new Date();
                                    const [startHour, startMinute] = reservation.time.split('-')[0].trim().split(':').map(Number); 
                                    const reservationDateTime = new Date(reservation.date);
                                    reservationDateTime.setHours(startHour, startMinute);

                                    const isPast = reservationDateTime < now;
                                %>
                                <% if (!isPast) { %>
                                <tr>
                                    <td><%= reservation.room %></td>
                                    <td><%= reservation.date %></td>
                                    <td><%= reservation.time %></td>
                                </tr>
                                <% } %>
                            <% }) %>
                        </tbody>
                    </table>
                <% } else { %>
                    <p>No active reservations at the moment.</p>
                <% } %>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>